<!-- Sección acerca de -->
<section>
    <div class="contenedor">
      <img class="banner" src="assets/img/planeta2.jpg" alt="imagen de la tierra" title="Tierra desde el espacio">
  <!-- <div class="texto-encima"><h1>Sobre mi:</h1></div> -->
  <div class="centrado">
    <img class="imgperfil" src="assets/img/dd2f2a99-b1ba-405a-9506-50a63ab686fb.jpg" alt="foto de perfil">
    <h1 class="nombre">Jean Bracho</h1>
    <h3 class="titulo">Full Stack Developer Jr.</h3>
    <hr>
    <p>Amante de la tecnología, aprendiendo desarrollo web.</p>
  </div>
  <div class="centradobajo">
  </div>
</div>
</section>