/* etiqueta html vadirectamente el nombre */
/* clases va con "." adelante */
/* ID va con # adelante */

body {
    background-color: rgb(180, 180, 180);
}

/* logo argentina programa de la navbar */
.logoag{
    height: 60%;
    width: 60%;
}

/* Banner */
.banner {
    width:100%;
    height:auto;
}

/* texto del banner */
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    color: white;
}
.texto-encima{
    position: absolute;
    top: 30px;
    left: 20px;
}
.centrado{
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centradobajo{
    position: bottom;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* mi información de perfil */
.imgperfil{
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
.nombre{
    font-size: 4rem;
}
.titulo{
    font-size: 1rem;
}

/* logo de sección educación */
#aplogo {
    filter: invert(100);
}

/* elementos en linea */
.enlinea {
    display: inline-block;
}

/* botones de edición */
.edicion {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

