<!--Sección Experiencia-->
<section>
    <h2 class="edicion">Experiencia</h2>
    <button type="button" class="btn btn-light btn-sm">+</button>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/img/gridologo.png" class="img-fluid rounded-start" alt="Argentina Programa Logo">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><strong>Grido</strong></h5>
              <p class="card-text">Dependiente de mostrador</p>
              <p class="card-text"><small class="text-muted">Noviembre 2021 - Enero 2022</small></p>
            </div>
          </div>
        </div>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i></button>
          <button type="button" class="btn btn-outline-danger"><i class="fa-solid fa-xmark"></i></button>
        </div>
      </div>

</section>
<hr>