<!--Sección proyectos-->
<section>
    <h2 class="edicion">Proyectos</h2>
    <button type="button" class="btn btn-light btn-sm">+</button>

    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <img src="assets/img/capturapag.png" class="Inicio de la pagina web" alt="la pagina web">
          <div class="card-body">
            <h5 class="card-title"><strong>Proyecto Integrador Portfolio Web Full Stack</strong></h5>
            <p class="card-text"><strong>Objetivo:</strong> Desarrollar una aplicación web full stack, que mostrará: tus datos personales, estudios cursados, experiencia laboral, conocimiento de las
              tecnologías y lo que desees agregar. Es decir, ¡crear tu propio portfolio web! Esta aplicación deberá ser de arquitectura distribuida y contener un
              diseño de interfaz de usuario (front end) que muestre la información, una base de datos que almacene los datos antes mencionados y debe contar
              con las APIs necesarias para proveer a través de internet la información (back end). La idea es que, además de servirte para aplicar lo aprendido
              y que te evaluemos, puedas publicar el portfolio web y usarlo como carta de presentación en el mercado laboral.</p>
            <p class="card-text"><small class="text-muted">Enero 2023</small></p>
          </div>

          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i></button>
            <button type="button" class="btn btn-outline-danger"><i class="fa-solid fa-xmark"></i></button>
          </div>
          
        </div>
      </div>
    </div>
</section>

<hr>